body {
    width: 100%;
    background-color: #6a6060;
}
.wrapper {
    border: 1px solid black;
    margin: 2% 10%;
    width: 80%;
    background-color: white;
}
.header {
    text-align: center;
}
.login {
    text-align: right;
    border: 2px solid black;
    padding: 2px;
}
.aside-left{
    margin-left: 2%;
    float: left;
    width: 22%;
   min-height: 420px;*/
   
}
.content {
    float: right;
    width: 75%;
    border-left: 1px solid black;
    min-height: 420px;*/
}
.box-main {
    margin: auto;
    padding-top: 100px;
}
.box-mainpr {
    margin: auto;
    padding-top: 20px;
}

.footer {
    border-top: 1px solid black;
    clear: both;
    padding-top: 2%;
    padding-bottom: 2%;
}

.footer__p {
    margin: 0%;
    text-align: center;
}

.slika img {
    width:450px;
    height: auto;
}
.ime {
    font-weight: bolder;
    font-size:24px;
    color:#5E4AF1;
}